<a href="https://colab.research.google.com/github/woodword-0/ML-Algorithms/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statistics as stat
import seaborn as sns; sns.set_theme()
missing_values = ['NA','n/a',"",'','N/A','None','none','NONE','n.a.','?']
df = pd.read_csv(r'C:\Users\Field Employee\Downloads\raw_house_data.csv', na_values = missing_values)

#replace all instances of "None" with zero
#df = df.replace("None", 0)
#Columns with missing values
nan_col = []
for col in df.head():
    nan = df[col].isnull().values.any()
    if nan == True:
        nan_col.append(col)
print(nan_col)
#replace all instances of "None" with zero
#df1 = df.replace("missing_values", 0)

In [ ]:
#Finding the mode
df['floor_covering'].value_counts()

Carpet, Ceramic Tile                         1235
Carpet, Natural Stone                         579
Carpet, Ceramic Tile, Wood                    258
Ceramic Tile                                  247
Concrete                                      242
                                             ...
Carpet, Concrete, Laminate, Natural Stone       1
Ceramic Tile, Other: Marble                     1
Carpet, Other: Travertine Tile                  1
Carpet, Other: Brick Pavers                     1
Carpet, Other: Talavera Floors                  1
Name: floor_covering, Length: 310, dtype: int64

In [ ]:
#Setting categorical variables
num_vars = df.columns[df.dtypes != 'object']
cat_vars = df.columns[df.dtypes == 'object']
df[cat_vars].isnull().sum().sort_values(ascending = False)

HOA                 562
kitchen_features     33
floor_covering        1
fireplaces            0
dtype: int64

In [ ]:
#fill in categorical objects with their respective modes
df["kitchen_features"].fillna(df['kitchen_features'].value_counts().index[0], inplace = True)
df["floor_covering"].fillna(df['floor_covering'].value_counts().index[0], inplace = True)

In [ ]:
#Most cat variables are clean. Will drop HOA at the end
df[cat_vars].isnull().sum().sort_values(ascending = False)

HOA                 562
floor_covering        0
fireplaces            0
kitchen_features      0
dtype: int64

In [ ]:
#missing values sqrft
X = df[df['sqrt_ft'].isnull()].index.tolist()
for x in X:
    df['sqrt_ft'].replace(df['sqrt_ft'][x],df['sqrt_ft'].mean( skipna = True), inplace = True )

In [ ]:
#row drop due to square footage
df.drop(3277, inplace = True)
#row drop due to square footage
df.drop(2111, inplace = True)

In [ ]:
#row drop due to lot acres
df.drop(0, inplace = True)
df.drop(4518, inplace = True)
df.drop(1, inplace = True)
df.drop(2, inplace = True)
df.drop(3, inplace = True)
df.drop(29, inplace = True)
df.drop(1095, inplace = True) 
df.drop(2478, inplace = True)

In [ ]:
#missing values lot acres
df["lot_acres"].fillna(df['lot_acres'].value_counts().index[0], inplace = True)

In [ ]:
#missing values lot acres
X = df[df['lot_acres'].isnull()].index.tolist()
for x in X:
    print(X)

In [ ]:
#row drop due to garage
df.drop(3393, inplace = True)
df.drop(3513, inplace = True)
df.drop(281, inplace = True)
df.drop(215, inplace = True)
df.drop(611, inplace = True)
df.drop(2624, inplace = True)
df.drop(3961, inplace = True) 
df.drop(4094, inplace = True)
df.drop(4604, inplace = True)
df.drop(4964, inplace = True)

In [ ]:
index = df[df['bathrooms'] == 13.0].index.tolist()
#[15.0, 22.0, 30.0, 12.0, 12.0, 12.0, 20.0, 13.0]
print(index)

[]

In [ ]:
#df[num_vars].isnull().sum().sort_values(ascending = False)
#missing values bathrooms
df["bathrooms"].fillna(df['bathrooms'].value_counts().index[0], inplace = True)

In [ ]:
df[num_vars].isnull().sum().sort_values(ascending = False)

garage        6
sqrt_ft       0
bathrooms     0
bedrooms      0
year_built    0
taxes         0
lot_acres     0
latitude      0
longitude     0
zipcode       0
sold_price    0
MLS           0
dtype: int64

In [ ]:
#zeroes
(df == '0').sum().sort_values(ascending = False)

HOA                 814
fireplaces          303
floor_covering        0
kitchen_features      0
garage                0
sqrt_ft               0
bathrooms             0
bedrooms              0
year_built            0
taxes                 0
lot_acres             0
latitude              0
longitude             0
zipcode               0
sold_price            0
MLS                   0
dtype: int64

In [ ]:
#dropping HOA
df.drop(columns = "HOA", inplace = True)

In [ ]:
#dropping HOA
df.drop(columns = "MLS", inplace = True)

In [ ]:
#zeroes
(df == '0').sum().sort_values(ascending = False)

fireplaces          303
floor_covering        0
kitchen_features      0
garage                0
sqrt_ft               0
bathrooms             0
bedrooms              0
year_built            0
taxes                 0
lot_acres             0
latitude              0
longitude             0
zipcode               0
sold_price            0
dtype: int64

In [ ]:
df

,sold_price,zipcode,longitude,latitude,lot_acres,taxes,year_built,bedrooms,bathrooms,sqrt_ft,garage,kitchen_features,fireplaces,floor_covering
4,3411450.0,85750,-110.813768,32.285162,3.21,15393.00,1995,4,6.0,6396.0,3.0,"Dishwasher, Garbage Disposal, Refrigerator, Mi...",5,"Carpet, Concrete"
5,3250000.0,85718,-110.910593,32.339090,1.67,27802.84,1999,3,4.0,6842.0,3.0,"Dishwasher, Garbage Disposal, Refrigerator, Mi...",5,"Natural Stone, Wood, Other"
6,2400000.0,85712,-110.883315,32.261069,2.10,19038.42,2001,9,8.0,12025.0,4.0,"Dishwasher, Garbage Disposal, Oven",6,"Carpet, Natural Stone, Wood, Other"
7,2500000.0,85750,-110.861002,32.331603,1.07,21646.00,2011,6,8.0,8921.0,4.0,"Compactor, Dishwasher, Freezer, Garbage Dispos...",5,"Carpet, Natural Stone, Wood"
8,3700000.0,85718,-110.912156,32.343601,6.73,25094.39,2002,5,7.0,5238.0,3.0,"Compactor, Dishwasher, Freezer, Garbage Dispos...",1,"Carpet, Natural Stone, Wood, Other"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,495000.0,85641,-110.661829,31.907917,4.98,2017.00,2005,5,3.0,3601.0,3.0,"Dishwasher, Double Sink, Garbage Disposal, Gas...",1,"Carpet, Ceramic Tile"
4996,550000.0,85750,-110.858556,32.316373,1.42,4822.01,1990,4,3.0,2318.0,3.0,"Dishwasher, Double Sink, Electric Range, Garba...",1,"Carpet, Ceramic Tile"
4997,475000.0,85192,-110.755428,32.964708,12.06,1000.00,1969,3,2.0,1772.0,0.0,"Dishwasher, Electric Range, Island, Refrigerat...",0,Ceramic Tile
4998,550000.0,85745,-111.055528,32.296871,1.01,5822.93,2009,4,4.0,3724.0,3.0,"Dishwasher, Double Sink, Garbage Disposal, Gas...",1,"Carpet, Ceramic Tile"
4999,450000.0,85621,-110.913054,31.385259,4.16,2814.48,1988,4,4.0,4317.0,NaN,"Compactor, Dishwasher, Double Sink, Island, Ap...",3,"Carpet, Mexican Tile"